@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');


:root{
    font-family: 'Roboto', sans-serif;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}


#carouselMain{
    position: absolute;
    top: 25vh;
    left: 10vw;
    width: 80vw;
    max-height: 40vh;
}

.carousel-inner{
    height: 60vh;
}
.carousel-indicators{
    position: absolute;
    bottom: 0;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: solid;
    border-width: 1px;
    border-color: white;
    background-color: transparent;
  }

  #header{
      margin:auto;
  }

  #logoImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 12vw;
  }