

*{
    box-sizing: border-box;
  }
  
  
  
  h1{
    font-size: 130%;
  }
  
  h2{
    color: #aaa;
    font-size: 18px;
    font-weight: 400;
  }
  
  
  p{
    font-size: 12px;
    line-height: 1.5;
  }
  
  .product{
    margin-top: 15vh;
    background-color: white;
    border-bottom: 1px solid #ddd;
    clear: both;
    padding: 0px 10% 70px 10%;
  }
  
  .group:after {
    content: "";
    display: table;
    clear: both;
  }
  
  

  .product-image .bg{
    background-size: cover;
    background-position: center top;
    width: 100%;
    min-height: 450px;
    transition: 1s;
  }
  
  .product-image .indicator{
    text-align:center;
  }
  
  .product-image .dot{
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    width: 5px;
    height: 5px;
    transition: all 400ms ease;
  }
  
  .dot:hover{
    background-color: #444;
  }
  
  .product-info{
    padding: 0px 8%;
  }
  
  .product-info h1{
    margin-bottom: 5px;
  }
  
  .product-info h2{
    margin-bottom: 50px;
  }
  
  .product-info .select-dropdown{
    margin-right: 10px;
    position: relative;
    width: auto;
    display: inline-block;
  }
  
  .product-info select{
    cursor: pointer;
    margin-bottom: 20px;
    padding: 12px 72px 12px 15px;
    background-color: #fff;
    border: none;
    border-radius: 2px;
    color: #aaa;
    font-size: 12px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: solid 1px black;
  }
  
  select:active, select:focus {
    outline: none;
    box-shadow: none;
  }
  
  .select-dropdown:after {
      content: " ";
    cursor: pointer;
      position: absolute;
      top: 30%;
    right: 10%;
      width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #aaa;
    }
  
  .product-info a.add-btn{
    background-color: #444;
    border-radius: 2px;
    color: #eee;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 30px;
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    transition: all 400ms ease;
  }
  
  a.add-btn:hover{
    background-color: #555;
  }
  
  .product-info p{
    margin-bottom: 30px;
  }
  
  .product-info p a{
    border-bottom: 1px dotted #444;
    color: #444;
    font-weight: 700;
    text-decoration: none;
    transition: all 400ms ease;
  }
  
  .product-info p a:hover{
    opacity: .7;
  }
  
  .product-info ul{
    font-size: 12px;
    padding: 0;
    margin-bottom: 50px;
  }
  
  .product-info li{
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .product-info li::before{
    content:"\2022";
    margin-right: 20px;
  }
  
  
  .product-info a.share-link{
    color: #aaa;
    font-size: 11px;
    margin-right: 30px;
    text-decoration: none;
  }
  
  .product-info a.share-link:hover{
    border-bottom: 2px solid #aaa;
  }

  .select-color{
    height: 20px;
    width: 100px;

    margin-right: 10px;
    position: relative;
    width: auto;
    
  }

  .color {
    height: 20px;
    width: 20px;
    margin: 1px;
    display: inline-block;
    border: 1px solid gray;
    cursor: pointer;
  }
  
  
  /* DESKTOP BELOW */
  @media screen and (min-width: 761px) {
    .col-1-2{
      width: 50%;
      height: 100%;
      float: left;
    }
    

  }

  /* END DESKTOP */

    /* MOBILE BELOW */
    @media screen and (max-width: 760px) {
      .col-1-2{
        width: 100%;
        text-align: center;
      }

      .product-info h2{
        margin-bottom: 10px;
      }

      .dot{
        width: 10px;
        height: 10px;
      }

    }

    /* END MOBILE */