#overAllContainer{
    text-align: center;
    margin-top: 20vh;
    }
    
    #containerShopItem{
      position: relative;
      display: inline;
     
      
    }
    
    .itemBox {
      margin: 5vw;
      display: inline-block;
        height: 25vh;
        position:relative;
        z-index: 3;
        background-color: rgb(177, 173, 173);
      background-size: 80%;
    width: auto
    }
    
    .whiteSquare{
        color:white;
        transition: 1s ease;
        opacity: 0;
        position: absolute;
        left: 5%;
        text-align:center;
        top: 70%;
        width: 90%;
        max-height: 90%;
        font-size: 0.7vw;
        transform: translate(0px, 30px);
    }
        
        .under{
            position: absolute;
            text-align: center;
            justify-content: center;
            left:0;
            right:0;
        }
    .under h3{
        font-size: 1.3rem;
    }

    
    .productClass{
        z-index: 0;
        transition: 1s ease;}
    

    .prodButton{
        transition: .5s ease;
        border: solid 1px;
        margin: 1vw;
        padding: 0.5vw;
        text-decoration: none;
        color: white;}
        .prodButton:hover{
            color:rgb(204, 199, 199);
            text-decoration: none;
        }
    
    .productClass{
      width: inherit;
      height: inherit;
    }

    .shopLinkMobile{
        width: inherit;
        height: inherit;
    }

/* DESKTOP BELOW */
    @media screen and (min-width: 761px) {


        .itemBox:hover .whiteSquare{
            opacity: 1;
            transform: translate(0px, 0px);}
            

            .itemBox:hover .productClass{
                opacity: 0.3;}
            
            .itemBox:hover .buttonText{
                opacity: 1;
                font-weight: 400;
            color: white;
        border-color: white;
    }
    }


    /* MOBILE */

    @media screen and (max-width: 760px) {
    .itemBox{
        margin-bottom: 10vh;

      }
    }